svg {
    position: absolute;
    color: #D8D8D8;
    max-width: 2.5vmax;
    left: 0;
    align-items: center;
}
.card {
    border: 1.5px solid #353434;
    position: relative;
    display: flex;
    justify-content: center;
    width: 320px;
    padding: 15px;
    overflow: hidden;
    border-radius: 16px;
    background-color: #D8D8D8;
  }
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D8D8D8;
    z-index:1;
  } 
.card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: #353434;
    z-index: 1;
    transition: all .7s ease-out;
  }
.card:hover::before {
    height: 90%;
    z-index: 2;
  }
.cart {
    font-weight: 600;
    background: #353434;
    border-radius: 10px;
    border: 2px solid #D8D8D8;
    padding: .5vmax; 
    padding-left: 3vmax;
    padding-right: 3vmax;
    font-size: 3vmax;
  }
.card:hover{
    color: #353434;
    background: #D8D8D8;
  }
.price{
  font-size: 3vmax;
  font-family: Impact;
  padding:0;
  color: #353434;
  align-items: flex-start;
}
img{
  width: 28vmax;
  z-index: -1;
}
.name{
  font-size: 6vmax;
}